<table>
  <tr>
    <th>Title</th>
    <th>Deadline</th>
    <th>Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% tasks.each do |task| %>
  <tr>
    <td><%= link_to task.title, task %></td>
    <td><%= task.deadline %></td>
    <td>
      <%= form_for task do |f| %>
        <%= f.check_box :completed %>
      <% end %>
    </td>
    <td><%= link_to 'Edit', edit_task_path(task), id: "edit_#{task.title}" %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
